/* Police d'écriture */
body {
	margin: 58;
	font-family: "Open Sans", "sans-serif";
}

.recherche h1 {
	font-size: 2em;
}

.recherche p {
	font-size: 1.4em;
}

/* Header */

nav img {
	width: 110px;
	height: 54px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-right: 77px;
	text-decoration: none;
	color: #0065fc;
}

a:visited {
	color: black;
}

a:hover {
	border-top: 1px #0065fc solid;
	border-top-width: 2px;
	padding-top: 40px;
}

/* Recherche */

.searchbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fas fa-map-marker-alt {
	height: 50px;
}
